---
permalink: 200_receive.html
layout: page
script: 200_receive
---
<div class="FixedHeightContainer">
  <div class="header__title">
    <label id="txt">
      <h1>Receive</h1>
    </label>
    <label>
      <h1><span class="icon-arrow-down"></h1>
    </label>
  </div>
  <div class="button-grid">
    <span class="half-width">
      <button id="uploadPayInfo" role="button" onclick="loadIt()">
        <span class="icon-upload2"></span>Upload Payment ID Sender
      </button>
    </span>
  </div>
  <p>
    The person that wants to pay you, sent you his/her payment ID. Please upload the payment_id.txt to continue.
  </p>
  <img id="IDCard" style="display: none;" onclick="IDCardClick()" src="img/PhotoClear.png">

  <p id="hashCheck" style="color: #00bf8e; text-align: center; padding-top: 4px; line-height: 1; display: none">
    <small>Hash IDCard is okay!</small>
  </p>
  <p id="checkTitle" style="color: #cccccc; text-align: center; padding-top: 8px; line-height: 1; display: none">
    <small>Please check name and IDCard number</small>
  </p>
  <p id="checkName" style="color: #F7E273; text-align: center; padding-top: 2px; line-height: 1; display: none">
    <small>Name | IDCard__</small>
  </p>


  <div class="button-grid">
    <span class="half-width">
      <button id="acceptPay" class="disabled_button" role="button" onclick="acceptPayment()" disabled>
        <span class="icon-checkmark"></span>Accept
      </button>
    </span>
    <a href="index.html" class="half-width">
      <button role="button"><span class="icon-exit"></span>&nbsp;Abort</button>
    </a>
  </div>
  <input type="file" id="loadtext" hidden>
  <!--invisible load button -->
</div>