---
permalink: 201_receive1.html
layout: page
script: 201_receive1
---

<div class="FixedHeightContainer">
  <div class="header__title">
    <label id="txt">
      <h1>Receive</h1>
    </label>
    <label>
      <h1><span class="icon-arrow-down"></h1>
    </label>
  </div>
  <div style="margin-top: 5px;">
    <table>
      <tr>
        <td width="155px">
          <input type="input" class="TextInputContainer" autocomplete="off" placeholder="amount" id='amount'
            style="width:150px; height: 2.5rem; margin-top: 0rem; padding-left: 0.7rem; padding-right: 0.3rem; font-size: 1.3rem"
            onkeyup="amountTyped()" spellcheck="false">
        </td>
        <td>
          <p style="text-align: left"><span id="curchar" style="font-size: 1.2rem; color: #AD8F00">ᕫ</span><span
              id="txt" style="font-size: 0.8rem; color: #AD8F00">&nbsp;&nbsp;(You want to receive)</span></p>
        </td>
      </tr>
    </table>
    <table style="margin-top: 5px;">
      <tr>
        <td height="18px" width="80px" style="text-align: left; color: #AD8F00">
          <div id="txt">
            <p id="0perc"><small>0%</small></p>
          </div>
        </td>
        <td height="18px" style="text-align: center; color: #cccccc">
          <div id="txt">
            <p id="payerperc"><small>50% Payer</small></p>
          </div>
        </td>
        <td height="18px" width="80px" style="text-align: right; color: #AD8F00">
          <div id="txt">
            <p id="100perc"><small>100%</small></p>
          </div>
        </td>
      </tr>
      <tr height="38px">
        <td colspan="3">
          <div class="slidecontainer2">
            <input type="range" min="0" max="100" value="50" class="slider2" id="myRange" oninput="sliderChange()">
          </div>
        </td>
      </tr>
    </table>

    <table width="330px" style="margin-right: 15px; margin-top: 5px">
      <tr id="row0" height="20px">
        <td width="190px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="name0"><small><small>Name0 Name0&nbsp;</small></small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="amount0"><small><small>12,345,678.00&nbsp;ᕫ</small></small></p>
          </div>
        </td>
      </tr>
      <tr id="row00" height="20px">
        <td width="190px" style="text-align: right; color: #AD8F00">
          <div id="txt">
            <p id="mutual"><small><small>▼&nbsp;Mutual Relations&nbsp;▼</small></small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
        </td>
      </tr>
      <tr id="row1" height="20px">
        <td width="190px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="name1"><small><small>Name1 Name1&nbsp;</small></small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="amount1"><small><small>12,345,678.00&nbsp;ᕫ</small></small></p>
          </div>
        </td>
      </tr>
      <tr id="row2" height="20px">
        <td width="190px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="name2"><small><small>Name2 Name2&nbsp;</small></small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="amount2"><small><small>12,345,678.00&nbsp;ᕫ</small></small></p>
          </div>
        </td>
      </tr id="row3">
      <tr height="20px">
        <td width="190px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="name3"><small><small>Name3 Name3&nbsp;</small></small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="amount3"><small><small>12,345,678.00&nbsp;ᕫ</small></small></p>
          </div>
        </td>
      </tr>
      <tr id="row4" height="20px">
        <td width="190px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="name4"><small><small>Name4 Name4&nbsp;</small></small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="amount4"><small><small>12,345,678.00&nbsp;ᕫ</small></small></p>
          </div>
        </td>
      </tr>
      <tr id="row5" height="20px">
        <td width="190px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="name5"><small><small>Name5 Name5&nbsp;</small></small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="amount5"><small><small>12,345,678.00&nbsp;ᕫ</small></p>
          </div>
        </td>
      </tr>
      <tr id="row6" height="20px">
        <td width="190px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="stripe0"><small></small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="stripe1"><small>════════════</small></p>
          </div>
        </td>
      </tr>
      <tr id="row7" height="20px">
        <td width="190px" style="text-align: right; color: #F7E273">
          <div id="txt">
            <p id="total"><small>Total&nbsp;</small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #F7E273">
          <div id="txt">
            <p id="amount6"><small>12,345,678.00&nbsp;ᕫ</small></p>
          </div>
        </td>
      </tr>
      <tr id="row8" height="34px">
        <td colspan="2" style="text-align: center; color: #AD8F00">
          <div id="txt">
            <p id="btnstring"><small>Sort relations: Desc, Asc, Random, Manual</small></p>
          </div>
        </td>
      </tr>
      <tr id="row8" height="38px">
        <td colspan="2" style="text-align: center; color: #AD8F00">
          <button id="desc" class="main_button" role="button"
            style="width: 77px;height: 3rem; margin-top: -10px; margin-left: -2px; margin-right: 5px; font-size: 1.4rem; color: #F7E273; display: hidden;"><span
              class="icon-sort-amount-desc" onclick="sortDesc()"></span></button>
          <button id="asc" class="main_button" role="button"
            style="width: 77px;height: 3rem; margin-top: -10px;  margin-right: 5px;font-size: 1.4rem; color: #AD8F00; display: hidden;"><span
              class="icon-sort-amount-asc" onclick="sortDesc()"></span></button>
          <button id="random" class="main_button" role="button"
            style="width: 77px;height: 3rem; margin-left: 3px; margin-top: -10px; margin-right: 5px; font-size: 1.4rem; color: #AD8F00; display: hidden;"><span
              class="icon-shuffle" onclick="sortDesc()"></span></button>
          <button id="manual" class="main_button" role="button"
            style="width: 77px;height: 3rem; margin-top: -10px; margin-right: -11px; font-size: 1.4rem; color: #AD8F00; display: hidden;"><span
              class="icon-pencil2" onclick="sortDesc()"></span></button>
        </td>
      </tr>
    </table>
  </div>
  <button id="acceptPay" class="disabled_button" role="button"
    style="width: 163px;height: 3rem; margin-top: 0.2rem; font-size: 1.4rem" onclick="acceptReceive()" disabled><span
      class="icon-checkmark"></span>&nbsp;Continue</button>
  <button class="main_button" role="button"
    style="width: 164px;height: 3rem; margin-top: 0.5rem; margin-left: 0.5rem; font-size: 1.4rem"
    onclick="abortButton()"><span class="icon-exit"></span>&nbsp;Abort</button>
  <input type="file" id="loadtext" hidden>
  <!--invisible load button -->
</div>