---
permalink: 202_receive2.html
layout: page
script: 202_receive2
---

<div class="FixedHeightContainer">
  <div class="header__title">
    <label id="txt">
      <h1>Receive</h1>
    </label>
    <label>
      <h1><span class="icon-arrow-down"></h1>
    </label>
  </div>
  <button id="uploadSecurityImage" class="main_button" role="button"
    style="width: 337px;height: 3rem; margin-top: 1rem; font-size: 1.4rem" onclick="loadIt()"><span
      class="icon-upload2"></span>&nbsp;Upload Security Image</button>
  <p id="uploadtext" class="other"
    style="color: #cccccc; padding-left: 6px; padding-top: 2px; padding-right: 15px; line-height: 1; text-align: center;">
    <small><small>After uploading the security image, the app will hash it and add the security hash to your payment
        proposal.</small></small></p>
  <p id="hash" class="other"
    style="color: #AD8F00; text-align: center; margin-top: 0.5rem; line-height: 1;padding-bottom: 0.2rem;">
    <small><small>No image selected<br>&nbsp;</small></small></p>
  <button id="delSecurityImage" class="disabled_button" role="button"
    style="width: 337px;height: 3rem; margin-top: 0.1rem; font-size: 1.4rem" onclick="delSecurityImage()" disabled><span
      class="icon-bin"></span>&nbsp;Delete Security Image</button>

  <button id="deleteProposal" class="main_button" role="button"
    style="width: 337px;height: 3rem; margin-top: 1rem; font-size: 1.4rem" onclick="deleteProposal()"><span
      class="icon-bin"></span>&nbsp;Delete Payment Proposal</button>


  <button id="downloadProposal" class="main_button" role="button"
    style="width: 337px;height: 3rem; margin-top: 3rem; font-size: 1.4rem" onclick="downloadProposal()"><span
      class="icon-download2"></span>&nbsp;Download Proposal</button>
  <p class="other"
    style="color: #cccccc; padding-left: 6px; padding-top: 2px; padding-right: 6px; line-height: 1;padding-bottom: 1.5rem; text-align: center;">
    <small><small>Click here to download your 'Payment Proposal', after which you must send it to the person that
        pays.</small></small></p>



  <button id="receive" class="disabled_button" role="button"
    style="width: 163px;height: 3rem; margin-top: 0.5rem; font-size: 1.4rem" onclick="receive()" disabled><span
      class="icon-arrow-down"></span>&nbsp;Receive</button>
  <a href="index.html"><button class="main_button" role="button"
      style="width: 164px;height: 3rem; margin-top: 0.5rem; margin-left: 0.5rem; font-size: 1.4rem"><span
        class="icon-exit"></span>&nbsp;Abort</button></a>
  <input type="file" id="loadtext" hidden>
  <!--invisible load button -->
</div>