---
title: Home
layout: page
script: 1CoinH
---

<div class="button-grid">
  <a href="400_idcard.html" class="quarter-width">
    <button title="Identity" role="button">
      <span class="icon-profile"></span>
    </button>
  </a>
  <a href="Manual.pdf" target="_blank" class="quarter-width">
    <button title="Manual" role="button">
      <span class="icon-book"></span>
    </button>
  </a>
  <a href="600_settings.html" class="quarter-width">
    <button title="Settings" role="button">
      <span class="icon-wrench"></span>
    </button>
  </a>
  <a href="700_about.html" class="quarter-width">
    <button title="About" role="button">
      <span class="icon-info"></span>
    </button>
  </a>
</div>
<div class="content">
  <img src="img/1CoinH_358x358.png" />
  <h1>One Coin Per Hour Per Person</h1>
  <h3>Closing the wealth inequality gap</h3>
  <p>
    <a href="https://www.1coinh.org" target="_blank">1CoinH</a> breaks two monopolies of &quot;Mr Global&quot;
    (money creation &amp; insight in every transaction) and hands these privileges over to you. See more at: <a
      href="https://www.1coinh.org" target="_blank">www.1CoinH.org</a>
  </p>
</div>