---
permalink: 100_pay.html
layout: page
script: 100_pay
subtitle: Pay
icon: icon-credit-card
---
<div class="button-grid">
  <span class="full-width">
    <button id="acceptPay" role="button" onclick="downloadPayInfo()">
      <span class="icon-download2"></span>Download Your Payment ID
    </button>
  </span>
</div>
<p>
  The person you pay, needs your Blockchain and IDCard information to do you a proposal. Download your
  payment_id.txt file and send it to the person you pay.
</p>

<div class="button-grid">
  <span class="full-width">
    <button id="uploadProposal" role="button" onclick="loadIt()">
      <span class="icon-upload2"></span>&nbsp;Upload Payment Proposal
    </button>
  </span>
</div>
<p>
  After receiving the payment proposal of the person you pay, use this button to upload and check the proposal.
</p>

<div class="button-grid">
  <a href="index.html" class="half-width">
    <button role="button">
      <span class="icon-exit"></span>Back
    </button>
  </a>
  <a href="101_pay1.html" class="half-width">
    <button id="acceptPay" role="button">
      <span class="icon-checkmark"></span>Next
    </button>
  </a>
</div>
<input type="file" id="loadtext" hidden>
<!--invisible load button -->