---
permalink: 101_pay1.html
layout: page
script: 101_pay1
subtitle: Pay
icon: icon-credit-card
---
  <div style="margin-top: 10px;">
    <table style="margin-top: 10px;">
      <tr height="78px">
        <td colspan="3" style="align-items: center; width: 337px; margin-bottom: 0rem;">
          <button id="uploadSecurityImage" class="main_button" role="button"
            style="width: 337px;height: 3rem; margin-top: 0.2rem; font-size: 1.4rem" onclick="loadIt()"><span
              class="icon-upload2"></span>&nbsp;Upload Security Image</button>
          <p id="uploadtext" class="other"
            style="width: 337px; color: #cccccc; padding-left: 30px; padding-top: 4px; line-height: 1; "><small>If
              applicable, this is to check the Security Image.</small></p>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td width="160px">
          <p style="text-align: right"><span id="amount" style="font-size: 1.5rem; color: #F7E273;">0.00</span>
        </td>
        <td>
          <p style="text-align: left"><span id="curchar"
              style="font-size: 1.5rem; color: #F7E273; padding-left: 5px;">ᕫ</span><span id="txt"
              style="font-size: 1rem; color: #AD8F00; padding-left: 2px;">&nbsp;&nbsp;(Proposed payment)</span></p>
        </td>
      </tr>
    </table>


    <table width="330px" style="margin-right: 15px; margin-top: 6px">
      <tr id="row0" height="22px">
        <td width="190px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="name0"><small>Name0&nbsp;</small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="amount0"><small>0.00&nbsp;ᕫ</small></p>
          </div>
        </td>
      </tr>
      <tr id="row00" height="22px">
        <td width="190px" style="text-align: right; color: #AD8F00">
          <div id="txt">
            <p id="mutual"><small>▼&nbsp;Mutual Relations&nbsp;▼</small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
        </td>
      </tr>
      <tr id="row1" height="22px">
        <td width="190px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="name1"><small>Name1&nbsp;</small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="amount1"><small>0.00&nbsp;ᕫ</small></p>
          </div>
        </td>
      </tr>
      <tr id="row2" height="22px">
        <td width="190px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="name2"><small>Name2&nbsp;</small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="amount2"><small>0.00&nbsp;ᕫ</small></p>
          </div>
        </td>
      </tr id="row3">
      <tr height="22px">
        <td width="190px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="name3"><small>Name3&nbsp;</small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="amount3"><small>0.00&nbsp;ᕫ</small></p>
          </div>
        </td>
      </tr>
      <tr id="row4" height="22px">
        <td width="190px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="name4"><small>Name4&nbsp;</small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="amount4"><small>0.00&nbsp;ᕫ</small></p>
          </div>
        </td>
      </tr>
      <tr id="row5" height="22px">
        <td width="190px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="name5"><small>Name5&nbsp;</small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="amount5"><small>0.00&nbsp;ᕫ</small></p>
          </div>
        </td>
      </tr>
      <tr id="row6" height="22px">
        <td width="190px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="stripe0"><small></small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #cccccc">
          <div id="txt">
            <p id="stripe1"><small>════════════</small></p>
          </div>
        </td>
      </tr>
      <tr id="row7" height="22px">
        <td width="190px" style="text-align: right; color: #F7E273">
          <div id="txt">
            <p id="total"><small>Total&nbsp;</small></p>
          </div>
        </td>
        <td width="140px" style="text-align: right; color: #F7E273">
          <div id="txt">
            <p id="amount6"><small>0.00&nbsp;ᕫ</small></p>
          </div>
        </td>
      </tr>
      <tr id="row8" height="36px">
        <td colspan="2" style="text-align: center; color: #AD8F00">
          <div id="txt">
            <p id="tobepaid"><small>To be paid to name0</small></p>
          </div>
        </td>
      </tr>
      <tr id="row9" height="40px">
        <td colspan="2" style="text-align: center; color: #AD8F00">
        </td>
      </tr>
    </table>
  </div>
  <button id="acceptPay" class="disabled_button" role="button"
    style="width: 163px;height: 3rem; margin-top: 0.5rem; font-size: 1.4rem" onclick="acceptPay()" disabled><span
      class="icon-credit-card"></span>&nbsp;Pay</button>
  <a href="index.html"><button class="main_button" role="button"
      style="width: 163px;height: 3rem; margin-top: 0.5rem; margin-left: 0.5rem; font-size: 1.4rem"><span
        class="icon-exit"></span>&nbsp;Abort</button></a>
  <input type="file" id="loadtext" hidden>
  <!--invisible load button -->
