---
permalink: 102_pay2.html
layout: page
script: 102_pay2
---

<div class="FixedHeightContainer">
  <div class="header__title">
    <label id="txt">
      <h1>Pay</h1>
    </label>
    <label>
      <h1><span class="icon-credit-card"></h1>
    </label>
  </div>
  <img id="IDCard" style="width: 250px; height: 375px; margin-top: 0.1rem; margin-left: 2.7rem;" onclick="IDCardClick()"
    src="img/PhotoClear.png">

  <p id="hashCheck" style="color: #00bf8e; text-align: center; padding-top: 4px; line-height: 1;"><small>Hash IDCard is
      okay!</small></p>
  <p id="checkTitle" style="color: #cccccc; text-align: center; padding-top: 8px; line-height: 1;"><small>Please check
      name and IDCard number</small></p>
  <p id="checkName" style="color: #F7E273; text-align: center; padding-top: 2px; line-height: 1;"><small>Name |
      IDCard__</small></p>


  <button id="acceptPay" class="disabled_button" role="button"
    style="width: 163px;height: 3rem; margin-top: 0.5rem; font-size: 1.4rem" onclick="acceptReceiver()" disabled><span
      class="icon-checkmark"></span>&nbsp;Accept</button>
  <button class="main_button" role="button"
    style="width: 164px;height: 3rem; margin-top: 0.5rem; margin-left: 0.5rem; font-size: 1.4rem"
    onclick="refuseReceiver()"><span class="icon-exit"></span>&nbsp;Abort</button>
</div>