<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
    <meta name="color-scheme" content="light dark">
    <meta name="description" content="1CoinH, Self Sovereign Currency Creation">
    <meta name="author" content="Teun van Sambeek">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="main.css">
    <title>{{ site.title }} | {{ page.title }}</title>
</head>