<nav>
    <div class="container nav__container">
        <ul class="nav__menu">
            <li><a href="index.html"><img src="img/1CoinH_56x56.png" /></a></li>
            <li><a href="100_pay.html"><span class="icon-credit-card"></span>Pay</a></li>
            <li><a href="200_receive.html"><span class="icon-arrow-down"></span>Receive</a></li>
            <li><a href="300_cashflow.html"><span class="icon-stats-dots"></span>Cashflow</a></li>
        </ul>
    </div>
</nav>