---
permalink: 300_cashflow.html
layout: page
script: 300_cashflow
subtitle: Cashflow
icon: icon-stats-dots
---
<table>
  <tr>
    <td colspan="2" style="text-align: center; font-size: 16px; color: #AD8F00; padding-top: 20px">
      <p id="timetitle">Your coins per 13 May 2022, 15:00h</p>
    </td>
  </tr>
  <tr>
    <td width="170px" style="text-align: right; font-size: 16px; color: #777777; padding-top: 30px; padding-right: 5px">
      <p id="fullcoins">0.00 ᕫ</p>
    </td>
    <td width="170px" style="text-align: left; font-size: 16px; color: #777777; padding-top: 30px; padding-left: 5px">
      <p>Self Created Coins</p>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center; font-size: 13px; color: #777777; padding-top: 13px">
      <p>▲ Past Value ▲</p>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center; font-size: 13px; color: #cccccc; padding-top: 30px">
      <p>▼ Present Value ▼</p>
    </td>
  </tr>
  <tr>
    <td width="170px" style="text-align: right; font-size: 16px; color: #cccccc; padding-top: 15px; padding-right: 5px">
      <p id="mycoins">0.00 ᕫ</p>
    </td>
    <td width="170px" style="text-align: left; font-size: 16px; color: #cccccc; padding-top: 15px; padding-left: 5px">
      <p>Self Created Coins</p>
    </td>
  </tr>
  <tr>
    <td width="170px" style="text-align: right; font-size: 16px; color: #ff0000; padding-top: 5px; padding-right: 5px">
      <p id="myspentcoins">0.00 ᕫ</p>
    </td>
    <td width="170px" style="text-align: left; font-size: 16px; color: #cccccc; padding-top: 5px; padding-left: 5px">
      <p>Spent</p>
    </td>
  </tr>
  <tr>
    <td width="170px" style="text-align: right; font-size: 16px; color: #cccccc; padding-top: 30px; padding-right: 5px">
      <p id="othercoins">0.00 ᕫ</p>
    </td>
    <td width="170px" style="text-align: left; font-size: 16px; color: #cccccc; padding-top: 30px; padding-left: 5px">
      <p>Coins From Others</p>
    </td>
  </tr>
  <tr>
    <td width="170px" style="text-align: right; font-size: 16px; color: #ff0000; padding-top: 5px; padding-right: 5px">
      <p id="otherspentcoins">0.00 ᕫ</p>
    </td>
    <td width="170px" style="text-align: left; font-size: 16px; color: #cccccc; padding-top: 5px; padding-left: 5px">
      <p>Spent</p>
    </td>
  </tr>
  <tr>
    <td width="170px"
      style="text-align: right; font-size: 16px; color: #F7E273; padding-top: 30px; padding-right: 5px; padding-bottom: 40px">
      <p id="availablecoins">0.0 ᕫ</p>
    </td>
    <td width="170px"
      style="text-align: left; font-size: 16px; color: #F7E273; padding-top: 30px; padding-left: 5px; padding-bottom: 40px">
      <p>Available</p>
    </td>
  </tr>
</table>
<button id="transactions" class="main_button" role="button" onclick="transactions()">
  <span class="icon-stats-dots"></span>Transactions
</button>
<a href="index.html">
  <button class="main_button" role="button">
    <span class="icon-exit"></span>Exit
  </button>
</a>