---
permalink: 301_transactions.html
layout: page
script: 301_transactions
---
<div class="FixedHeightContainer">
  <div class="header__title">
    <label id="txt">
      <h1>Transactions</h1>
    </label>
    <label>
      <h1><span class="icon-stats-dots"></h1>
    </label>
  </div>

  <table height="365px">
    <tr>
      <td width="337px"
        style="text-align: left; font-size: 16px; color: #AD8F00; padding-top: 20px;  vertical-align:top">
        <p id="transaction" class="other" style="width: 337px; color: #cccccc; padding-left: 8px; line-height: 1;">Your
          coins per 13 May 2022, 15:00h</p>
      </td>
    </tr>
    <tr>
    </tr>
  </table>
  <button id="older" class="main_button" role="button"
    style="width: 164px;height: 3rem; margin-top: 0.5rem; font-size: 1.4rem" onclick="older()"><span
      class="icon-arrow-left"></span>&nbsp;Older</button>
  <button id="newer" class="main_button" role="button"
    style="width: 164px;height: 3rem; margin-top: 0.5rem; margin-left: 0.5rem; font-size: 1.4rem"
    onclick="newer()"><span class="icon-arrow-right"></span>&nbsp;Newer</button>
  <button id="older " class="main_button" role="button"
    style="width: 164px;height: 3rem; margin-top: 0.5rem; font-size: 1.4rem" onclick="details()"><span
      class="icon-search"></span>&nbsp;Details</button>
  <a href="300_cashflow.html"><button class="main_button" role="button"
      style="width: 163px;height: 3rem; margin-top: 0.5rem; margin-left: 0.5rem; font-size: 1.4rem"><span
        class="icon-exit"></span>&nbsp;Return</button></a>
</div>