---
permalink: 400_idcard.html
layout: page
script: 400_idcard
subtitle: Identity
icon: icon-profile
---
<p>Set all properties. The properties will be used to generate a unique identity.
  When all properties are set, press the image placeholder to finalize the process by adding a photo</p>
<div class="button-grid">
  <a href="401_name.html" class="full-width">
    <button id="btn_name">
      <span class="icon-user"></span>[Name]
    </button>
  </a>
  <a href="402_birthday.html" class="half-width">
    <button id="btn_birthday" role="button">
      <span class="icon-calendar"></span>[Birthday]
    </button>
  </a>
  <a href="403_gender.html" class="half-width">
    <button id="btn_gender" role="button">
      <span class="icon-man-woman"></span>[Gender]
    </button>
  </a>
  <a href="404_length.html" class="half-width">
    <button id="btn_length" role="button">
      <span class="icon-shift"></span>[Length]
    </button>
  </a>
  <a href="405_hair.html" class="half-width">
    <button id="btn_hair" role="button">
      <span class="icon-cloud"></span>[Hair]
    </button>
  </a>
  <a href="406_lefteye.html" class="half-width">
    <button id="btn_lefteye" role="button">
      <span class="icon-eye"></span>[Left Eye]
    </button>
  </a>
  <a href="407_righteye.html" class="half-width">
    <button id="btn_righteye" role="button">
      <span class="icon-eye"></span>[Right Eye]
    </button>
  </a>
  <a href="408_features.html" class="full-width">
    <button id="btn_features" role="button">
      <span class="icon-hipster"></span>[Features]
    </button>
  </a>
  <a href="409_prevcards.html" class="full-width">
    <button id="btn_prevcards" role="button">
      <span class="icon-drawer"></span>[Previous IDCards]
    </button>
  </a>
</div>
<img id="IDCard2" onclick="IDCardClick()" src="img/PhotoClear.png"/>
<div class="button-grid">
  <a href="index.html" class="half-width">
    <button role="button">
      <span class="icon-exit"></span>Back
    </button>
  </a>
</div>
