---
permalink: 401_name.html
layout: page
script: 401_name
subtitle: Name
icon: icon-user
---
<input type="input" autocomplete="off" placeholder="Type your name" id='name'
  onkeyup="nameTyped()" spellcheck="false">
<p>
  Enter your name 
  <span id="mySpan1" style="color:red;">with a minumum of 2 words</span>
  and
  <span id="mySpan2" style="color:red;">between 5 and 32 characters: [0]</span>
  <span id="mySpan3" style="color:red;"><span>
</p>
<div class="button-grid">
  <span class="half-width">
    <button id="nameContinue" class="disabled_button" role="button" onclick="nameEnter()" disabled>
      <span class="icon-checkmark"></span>Save
    </button>
  </span>
  <a class="half-width" href="400_idcard.html">
    <button role="button">
      <span class="icon-cross"></span>Abort
    </button>
  </a>
</div>