---
permalink: 402_birthday.html
layout: page
script: 402_birthday
subtitle: Birthday
icon: icon-calendar
---
<div class="button-grid birthday">
  <input type="input" autocomplete="off" placeholder="d" id='day' onkeyup="birthdayTyped()">
  <input type="input" autocomplete="off" placeholder="m" id='month' onkeyup="birthdayTyped()">
  <input type="input" autocomplete="off" placeholder="yyyy" id='year' onkeyup="birthdayTyped()">
</div>
<p>
  <span id="mySpan1" style="color:red;">date is invalid</span> Please use numbers in the range 0123456789.
</p>
<div class="button-grid">
  <span class="half-width">
    <button id="birthdayContinue" class="disabled_button" role="button" onclick="birthdayEnter()" disabled>
      <span class="icon-checkmark"></span>Save
    </button>
  </span>
  <a href="400_idcard.html" class="half-width">
    <button role="button">
      <span class="icon-cross"></span>Abort
    </button>
  </a>
</div>