---
permalink: 403_gender.html
layout: page
script: 403_gender
subtitle: Gender
icon: icon-man-woman
---
<div style="margin-left: 8rem; margin-top: 1.5rem">
  <label class="radiocontainer">Male
    <input id="Male" type="radio" name="radio" onchange="genderSelect()"> <!--  checked="checked" -->
    <span class="checkmark"></span>
  </label>
  <label class="radiocontainer">Female
    <input id="Female" type="radio" name="radio" onchange="genderSelect()">
    <span class="checkmark"></span>
  </label>
  <label class="radiocontainer">Other
    <input id="Other" type="radio" name="radio" onchange="genderSelect()">
    <span class="checkmark"></span>
  </label>
</div>
<div class="button-grid">
  <span class="half-width">
    <button id="genderContinue" class="disabled_button" role="button" onclick="genderEnter()" disabled>
      <span class="icon-checkmark"></span>Save
    </button>
  </span>
  <a href="400_idcard.html" class="half-width">
    <button role="button">
      <span class="icon-cross"></span>Abort
    </button>
  </a>
</div>

