---
permalink: 404_length.html
layout: page
script: 404_length
subtitle: Length
icon: icon-shift
---

<div style="margin-left: 1.5rem; margin-top: 1rem">
  <table>
    <tr>
      <td>
        <label class="radiocontainer">Centimeters
          <input id="Metric" type="radio" name="radio" checked="checked" onchange="lengthSelect()">
          <span class="checkmark"></span>
        </label>
      </td>
      <td style="width:2rem">
      </td>
      <td>
        <label class="radiocontainer">Feet&nbsp;Inches
          <input id="Imperial" type="radio" name="radio" onchange="lengthSelect()">
          <span class="checkmark"></span>
        </label>
      </td>
    </tr>
  </table>
</div>
<div class="button-grid body-length">
  <input type="input" autocomplete="off" placeholder="centimeters" id='length1' onkeyup="lengthTyped()"
    spellcheck="false">
  <input type="input" autocomplete="off" placeholder="feet" id='length2' onkeyup="lengthTyped()" disabled
    spellcheck="false">
  <input type="input" autocomplete="off" placeholder="inches" id='length3' onkeyup="lengthTyped()" disabled
    spellcheck="false">
</div>

<p>
  <span id="mySpan1" style="color:red;">Length is
    invalid.</span> Please use numbers in the range 0123456789.
</p>

<div class="button-grid">
  <span class="half-width">
    <button id="lengthContinue" class="disabled_button" role="button" onclick="lengthEnter()" disabled>
      <span class="icon-checkmark"></span>Save
    </button>
  </span>
  <a href="400_idcard.html" class="half-width">
    <button role="button">
      <span class="icon-cross"></span>Abort
    </button>
  </a>
</div>