---
permalink: 405_hair.html
layout: page
script: 405_hair
subtitle: Hair
icon: icon-cloud
---

<div class="button-grid">
  <label class="radiocontainer">White
    <input id="white" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Ginger-Red
    <input id="gingerred" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Auburn
    <input id="auburn" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Blond
    <input id="blond" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Light-Chesnut
    <input id="lightchesnut" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Copper
    <input id="copper" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Light-Blond
    <input id="lightblond" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Chesnut-Brown
    <input id="chesnutbrown" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Silver
    <input id="silver" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Med-Blond
    <input id="medblond" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Light-Brown
    <input id="lightbrown" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Titan
    <input id="titan" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Dark-Blond
    <input id="darkblond" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Med-Brown
    <input id="medbrown" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Grey
    <input id="grey" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Gold-Blond
    <input id="goldblond" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Dark-Brown
    <input id="darkbrown" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Black
    <input id="black" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">Strawberry-Blond
    <input id="strawberryblond" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
  <label class="radiocontainer">No Hair
    <input id="nohair" type="radio" name="radio" onchange="hairSelect()">
    <span class="scheckmark"></span>
  </label>
</div>
<div class="button-grid">
  <span class="half-width">
    <button id="hairContinue" class="disabled_button" role="button" onclick="hairEnter()" disabled>
      <span class="icon-checkmark"></span>Save
    </button>
  </span>
  <a href="400_idcard.html" class="half-width">
    <button role="button">
      <span class="icon-cross"></span>Abort
    </button>
  </a>
</div>