---
permalink: 406_lefteye.html
layout: page
script: 406_lefteye
subtitle: Left eye
icon: icon-eye
---
<div class="button-grid">
  <label class="radiocontainer">Amber
    <input id="amber" type="radio" name="radio" onchange="eyeSelect()">
    <span class="checkmark"></span>
  </label>
  <label class="radiocontainer">Blue
    <input id="blue" type="radio" name="radio" onchange="eyeSelect()">
    <span class="checkmark"></span>
  </label>
  <label class="radiocontainer">Brown
    <input id="brown" type="radio" name="radio" onchange="eyeSelect()">
    <span class="checkmark"></span>
  </label>
  <label class="radiocontainer">Grey
    <input id="grey" type="radio" name="radio" onchange="eyeSelect()">
    <span class="checkmark"></span>
  </label>
  <label class="radiocontainer">Green
    <input id="green" type="radio" name="radio" onchange="eyeSelect()">
    <span class="checkmark"></span>
  </label>
  <label class="radiocontainer">Hazel
    <input id="hazel" type="radio" name="radio" onchange="eyeSelect()">
    <span class="checkmark"></span>
  </label>
  <label class="radiocontainer">Red
    <input id="red" type="radio" name="radio" onchange="eyeSelect()">
    <span class="checkmark"></span>
  </label>
  <label class="radiocontainer">Blue-Grey
    <input id="bluegrey" type="radio" name="radio" onchange="eyeSelect()">
    <span class="checkmark"></span>
  </label>
  <label class="radiocontainer">Blue-Green
    <input id="bluegreen" type="radio" name="radio" onchange="eyeSelect()">
    <span class="checkmark"></span>
  </label>
  <label class="radiocontainer">Green-Grey
    <input id="greengrey" type="radio" name="radio" onchange="eyeSelect()">
    <span class="checkmark"></span>
  </label>
  <label class="radiocontainer">Prosthesis
    <input id="prosthesis" type="radio" name="radio" onchange="eyeSelect()">
    <span class="checkmark"></span>
  </label>
</div>
<div class="button-grid">
  <span class="half-width">
    <button id="eyeContinue" class="disabled_button" role="button" onclick="eyeEnter()" disabled>
      <span class="icon-checkmark"></span>Save
    </button>
  </span>
  <a href="400_idcard.html" class="half-width">
    <button role="button">
      <span class="icon-cross"></span>Abort
    </button>
  </a>
</div>