---
permalink: 408_features.html
layout: page
script: 408_features
subtitle: Features
icon: icon-hipster
---
<div class="button-grid features">
  <input type="input" autocomplete="off"
    placeholder="Type your features (type 'none' if empty)" id='features' onkeyup="featuresTyped()" spellcheck="false">
</div>
<p>
  Enter your features <span id="mySpan1" style="color:red;">between 4 and 32 characters:
    [0]<span>
</p>
<div class="button-grid">
  <span class="half-width">
    <button id="featuresContinue" class="disabled_button" role="button" onclick="featuresEnter()" disabled>
      <span class="icon-checkmark"></span>Save
    </button>
  </span>
  <a href="400_idcard.html" class="half-width">
    <button role="button">
      <span class="icon-cross"></span>Abort
    </button>
  </a>
</div>