---
permalink: 409_prevcards.html
layout: page
script: 409_prevcards
subtitle: Identities
icon: icon-drawer
---
<div>
  <table style="margin-top: 0.5rem; font-size:9px; color: #aaaaaa">
    <tr>
      <td style="width:0.8rem">
        <p>01</p>
      </td>
      <td style="width:4.3rem"><label id="card01">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>02</p>
      </td>
      <td style="width:4.3rem"><label id="card02">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>03</p>
      </td>
      <td style="width:4.3rem"><label id="card03">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>04</p>
      </td>
      <td style="width:3rem"><label id="card04">1234567890...</label></td>
    </tr>
    <tr>
      <td style="width:0.8rem">
        <p>05</p>
      </td>
      <td style="width:4.3rem"><label id="card05">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>06</p>
      </td>
      <td style="width:4.3rem"><label id="card06">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>07</p>
      </td>
      <td style="width:4.3rem"><label id="card07">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>08</p>
      </td>
      <td style="width:3rem"><label id="card08">1234567890...</label></td>
    </tr>
    <tr>
      <td style="width:0.8rem">
        <p>09</p>
      </td>
      <td style="width:4.3rem"><label id="card09">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>10</p>
      </td>
      <td style="width:4.3rem"><label id="card10">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>11</p>
      </td>
      <td style="width:4.3rem"><label id="card11">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>12</p>
      </td>
      <td style="width:3rem"><label id="card12">1234567890...</label></td>
    </tr>
    <tr>
      <td style="width:0.8rem">
        <p>13</p>
      </td>
      <td style="width:4.3rem"><label id="card13">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>14</p>
      </td>
      <td style="width:4.3rem"><label id="card14">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>15</p>
      </td>
      <td style="width:4.3rem"><label id="card15">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>16</p>
      </td>
      <td style="width:3rem"><label id="card16">1234567890...</label></td>
    </tr>
    <tr>
      <td style="width:0.8rem">
        <p>17</p>
      </td>
      <td style="width:4.3rem"><label id="card17">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>18</p>
      </td>
      <td style="width:4.3rem"><label id="card18">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>19</p>
      </td>
      <td style="width:4.3rem"><label id="card19">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>20</p>
      </td>
      <td style="width:3rem"><label id="card20">1234567890...</label></td>
    </tr>
    <tr>
      <td style="width:0.8rem">
        <p>21</p>
      </td>
      <td style="width:4.3rem"><label id="card21">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>22</p>
      </td>
      <td style="width:4.3rem"><label id="card22">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>23</p>
      </td>
      <td style="width:4.3rem"><label id="card23">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>24</p>
      </td>
      <td style="width:3rem"><label id="card24">1234567890...</label></td>
    </tr>
    <tr>
      <td style="width:0.8rem">
        <p>25</p>
      </td>
      <td style="width:4.3rem"><label id="card25">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>26</p>
      </td>
      <td style="width:4.3rem"><label id="card26">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>27</p>
      </td>
      <td style="width:4.3rem"><label id="card27">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>28</p>
      </td>
      <td style="width:3rem"><label id="card28">1234567890...</label></td>
    </tr>
    <tr>
      <td style="width:0.8rem">
        <p>29</p>
      </td>
      <td style="width:4.3rem"><label id="card29">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>30</p>
      </td>
      <td style="width:4.3rem"><label id="card30">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>31</p>
      </td>
      <td style="width:4.3rem"><label id="card31">1234567890...</label></td>
      <td style="width:0.8rem">
        <p>32</p>
      </td>
      <td style="width:3rem"><label id="card32">1234567890...</label></td>
    </tr>
  </table>
</div>

<p>
  If this is your first IDCard just press "Abort' without adding anything.
</p>
<p>
  <span id="mySpan1" style="color:red;"></span>
  <span id="mySpan2" style="color:red;"></span>
</p>

<div class="button-grid previds">
<input type="input" autocomplete="off" placeholder="64 Characters IDCard Hash"
  id='previdcards'
  onkeyup="previdcardsTyped()" spellcheck="false">
</div>
<div class="button-grid">
  <span class="half-width">
    <button id="previdcardsDelete" class="disabled_button" role="button" onclick="previdcardsDelete()" disabled>
      <span class="icon-bin"></span>Delete last ID
    </button>
  </span>
  <span class="half-width">
    <button id="pasteCurrentIDCode" class="disabled_button" role="button" onclick="pasteMyHash()" disabled>
      <span class="icon-user-check"></span>My Hash
    </button>
  </span>
</div>

<div class="button-grid">
  <span class="half-width">
    <button id="previdcardsAdd" class="disabled_button" role="button" onclick="previdcardsAdd()" disabled>
      <span class="icon-checkmark"></span>Save
    </button>
  </span>
  <a href="400_idcard.html" class="half-width">
    <button role="button">
      <span class="icon-cross"></span>Abort
    </button>
  </a>
</div>