---
permalink: 410_picture.html
layout: page
subtitle: Picture
icon: icon-drawer
---

<canvas id="canvas" class="canvas"></canvas>
<div class="button-grid photo-grid">
    <label>
        <h2 id="icon1" class="imageCold2_button"><span id="enlarge" class="icon-enlarge" onclick="enlargeIt()"
                hidden>
        </h2>
    </label>
    <label>
        <h2 id="icon2" class="imageCold2_button"><span id="contrast" class="icon-contrast" onclick="contrastIt()"
                hidden></h2>
    </label>
    <label>
        <h2 id="icon3" class="imageCold2_button"><span id="brightness" class="icon-brightness-contrast"
                onclick="brightnessIt()" hidden></h2>
    </label>
    <label>
        <h2 id="icon4" class="imageCold2_button" onclick="colourIt()"><span id="colour" class="icon-paint-format"
                hidden></h2>
    </label>
</div>
<label id="slider" class="slidecontainer" hidden>
    <input type="range" min="0" max="100" value="50" class="slider" id="myRange" readonly />
</label>

<div class="button-grid">
    <button id="load" role="button" onclick="loadIt()">
        <span class="icon-image"></span>Load
    </button>
    <button id="rotate" role="button" hidden>
        <span class="icon-spinner11"></span>Rotate
    </button>
    <button id="reset" role="button" hidden>
        <span class="icon-equalizer2"></span>Reset</button>
</div>
<div class="button-grid">
    <span class="half-width">
        <button id="IDCardGenerate" class="disabled_button" role="button" onclick="pictureEnter()" disabled>
            <span class="icon-profile"></span>Generate
        </button>
    </span>
    <a href="400_idcard.html" class="half-width">
        <button role="button">
            <span class="icon-cross"></span>Abort
        </button>
    </a>
</div>
<div id="div2" style="margin-top: 100px">
    <div>
        <input style="visibility: hidden;" type="file" id="loadpicture" value="XX" accept="image/*" />
    </div>
    <canvas id="canvas2" class="canvas" style="visibility: hidden;"></canvas>
</div>
<script src="js/410_picture.js"></script>