---
permalink: 600_settings.html
layout: page
script: 600_settings
subtitle: Settings
icon: icon-wrench
---

<div style="margin-left: 2rem; margin-top: 1.5rem">
  <label class="radiocontainer">ᕫ&nbsp;&nbsp;(if corrupt, select other)
    <input id="default" type="radio" name="radio" onchange="defaultSelect()" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="radiocontainer">U&nbsp;&nbsp;(alternative currency character)
    <input id="alternative" type="radio" name="radio" onchange="alternativeSelect()">
    <span class="checkmark"></span>
  </label>
</div>

<div class="button-grid">
  <span class="full-width">
    <button id="downloadStorage" role="button" onclick="backup()">
      <span class="icon-box-add"></span>Backup your local data
    </button>
  </span>
  <span class="full-width">
    <button id="restoreStorage" role="button" onclick="loadIt()">
      <span class="icon-box-remove"></span>Restore your local data
    </button>
  </span>
  <span class="full-width">
    <button id="clearStorage" role="button" onclick="clearStorage()">
      <span class="icon-bin"></span>Clear ALL your local data
    </button>
  </span>
  <a class="half-width" href="Manual.pdf" target="_blank">
    <button role="button">
      <span class="icon-book"></span>Manual
    </button>
  </a>
  <a class="half-width" href="index.html">
    <button role="button">
      <span class="icon-exit"></span>Exit
    </button>
  </a>
</div>
<input type="file" id="loadtext" hidden>
<!--invisible load button -->