---
permalink: 700_about.html
layout: page
script: 600_settings
title: About
icon: icon-info
---
<div class="FixedHeightContainer">
  <table>
    <tr>
      <td>
        <label id="txt">
          <h1>About</h1>
        </label>
      </td>
      <td style="width:11.8rem">
      </td>
      <td>
        <label>
          <h1><span class="icon-info"></h1>
        </label>
      </td>
    </tr>
  </table>
  <div class="Content">
    <p>
      <font color=#FFFFFF><small><small><i>About 1CoinH</small></small></i><br></font>
      <font color=#AD8F00><big><i><b>Why We Need Better Money?</b></i></big><br><br><i><b>Barter is not
            practical</b></i><br></font>
      <font color=#FFFFFF><small>Barter is very unpractical. If you are a baker, you probably only need few of the free
          haircuts the barber offers you when he buys bread every day. So when pieces of gold were added to the barter
          system, this system got much more accurate and practical. Because money is used for thousands of years now,
          everyone understands why money is practical. That is why it is unrealistic to think we are able to create new
          societies that return to a system of exchange based solely on barter without items that can be considered as
          money. People will always need some form of money to trade their products and services.<br></small></font><br>
      <font color=#AD8F00><i><b>Theft</b></i><br></font>
      <font color=#FFFFFF><small>When you have a system with gold coins, the storage of gold – especially when you have
          a lot of it – becomes very important. That is why the money-changers from the Roman empire morphed into
          gold-smiths. Because the gold-smiths understood the value of storage, they morphed again into bankers that
          stored gold and created paper money. First it was money in the form of I-Owe-You (IOU) notes that proved the
          deposits of gold of the clients. The same bankers subsequently invented fractional banking, meaning that they
          could issue about 10 times more IOU notes that they actually had gold in their vaults. This was because it
          never occurred that all clients collected the gold of their IOU notes at the same day.<br><br>In Economic
          Schools we are taught that fractional banking and collecting interest is just a smart way of doing business.
          But make no mistake about it. Fractional banking and collecting interest over gold-collateral that doesn’t
          exist is nothing more than legalized theft. It is legalized because the money-changers could afford to
          persuade the politicians and kings to legalize this theft and now own enough of the media and educational
          systems to confuse the public about that fact.<br></small></font><br>
      <font color=#AD8F00><i><b>The Real Criminals</b></i><br></font>
      <font color=#FFFFFF><small>By creating and funding every war in the last 400 years, the less than 5000
          money-changing people at the top (that consist of some European families and some small secret societies) were
          able to install and fully own every important central bank in the world. Not only the greed but the
          increasingly important urge to control the fast growing group of people that understand the magnitude of the
          crime of these ‘elites’ (and fight against it), made the money-changers to step up their game. This is what
          they did: First they took the money off the gold-standard, meaning that since 1971, the money changers are
          able to print as much money as they want, and lend it to countries, businesses and people with interest, or
          simply buy stuff with it (like their companies Vanguard and Blackrock are doing).<br><br>Of the about 1000
          trillion dollar of value that is present in the world today, these families now own about 990 trillion dollar.
          But it is not enough to control the people (because it will never be enough). In their mind, they need to own
          everything to be able to control everything. And that is why these families intentionally created several fake
          crises. Crises like ‘The War On Terror’, Climate Change, Covid19, Cyber Terrorism, the war in Ukraine and now
          the Monkeypox. They also stimulate mass migration and confusion about Gender and Race. On top of that they
          kill many people with the vaccine. Everything to destroy the strong fabrics in society and within families.
          The Only reason for these fake crises is to create an excuse for the money printing to go beyond the
          imagination.<br><br>With the unhinged inflation the real criminals can collect all remaining wealth. And if it
          is not enough that you’ll 'own nothing', they are also destroying the supply chains to create famines. Because
          without food, there will be little doubt that the people that survive the famines will accept using the new
          and even more evil financial system: The financial system of the Central Bank Digital Currencies. With the
          digital CBDC-system there will be a Universal Basic Income and Social Credit system attached with for example
          mandatory vaccinations and programmable money that you can only use on goods and in places the government
          approves of. This new CBDC-financial system will complete the work of these real criminals. It finally will
          have all humans (except the elites) fully enslaved.<br></small></font><br>
      <font color=#AD8F00><i><b>How To Create A Better Future</b></i><br></font>
      <font color=#FFFFFF><small>The keyword to avoid enslavement and create a much better future, is to become
          self-sovereign. The globalists don’t want this. By compartmentalizing individuals and making them rely on
          anonymous institutes and companies to provide basic necessities like housing, food, electricity and salaries,
          it is very difficult for individuals to escape the globalists’ system. So how do you escape? After every
          massive war, society is always rebuild by people that are self-sufficient first, like farmers, hunters and
          fishers.<br><br>This is also exact the reason the globalists want to destroy farmers, hunters and fishers.
          They understand that especially these people are able to live outside their dystopian society, and by doing
          so, helping others to do the same. The solution to create a better future is to start to become self-sovereign
          and to be as self-sufficient you can be. This means to stop buying their products, stop paying their taxes,
          stop voting, exiting their platforms and most important: Stop using their money. Instead you grow your own
          food, do barter and – if necessary - use money that can be used outside the internet and doesn’t need Fiat
          currencies to purchase.<br></small></font><br>
      <font color=#AD8F00><i><b>Stop Using Their Money</b></i><br></font>
      <font color=#FFFFFF><small>The problem with money (Fiat-currencies, precious metals and even cryptocurrencies) is
          that over 99.9% of all wealth is owned by this tiny group of families. Precious metals and even
          cryptocurrencies offer no way out, because the masses still need fiat currencies to purchase precious metals
          and crypto. Bankers can however create money out of thin air and use it to buy any amount of Precious metals
          and Crypto. This position will always help them to control and manipulate the value of all precious metals and
          crypto. They can even purchase massive amounts of mining computers to obtain majorities of crypto through
          mining.<br></small></font><br>
      <font color=#AD8F00><i><b>Cryptocurrencies Won’t Help</b></i><br></font>
      <font color=#FFFFFF><small>So we not only need to stop using their money, we also shouldn’t put our hopes in
          Cryptocurrencies because the “elites” can use their fresh printed money to buy into it and subsequently
          manipulate its value. Cryptocurrencies like Monero, Pirate Chain and Dero help a little because they – at
          least – break the “Transaction nsight Monopoly” of the ‘elites’ and allow people to do transactions without
          anybody else seeing it which provides a little bit of freedom, but it won’t help to resolve the wealth
          inequality in the world. Besides that, managing the private key and secret seed phrases will be too
          complicated for the average smartphone user which will cause massive security risks especially with privacy
          cryptocurrencies like Monero, Pirate Chain and Dero. Because once someone steals your coins, there is no way
          to ever reclaim them. And the same applies for losing your keys: Your coins will be gone forever.<br></small>
      </font><br>
      <font color=#AD8F00><i><b>Local Old Style Money Institutes</b></i><br></font>
      <font color=#FFFFFF><small>Another alternative for the Fiat Currencies of the central banks is to issue money
          locally, from smaller and more local institutes. The problem with institutes that issue money is however again
          accountability. How do you make sure that those new institutes are not corrupt? How are these institutes
          checked? How do you prevent them to cause inflation by printing more coins? History has proven that every
          money issuing entity will always get corrupt in the end.<br></small></font><br>
      <font color=#AD8F00><i><b>Better Money</b></i><br></font>
      <font color=#FFFFFF><small>We simply can’t accept that the wealth inequality that is created by some criminal
          families by waging war and killing hundreds of millions of people will continue. The only way to reverse
          wealth inequality is to remove the monopoly on money creation and monopoly on insight in transactions of these
          families. With the 1CoinH system we let every person that is alive take an equal part in money creation and
          also provide everyone insight in all relevant transactions to reverse the current unjust
          situation.<br><br>1CoinH allows you to create your own real self-sovereign digital ID-Card with a unique 64
          character hash ID-Code. You don’t need permission of any institute or government to do so, because you are (or
          should be) a free and sovereign the first on January 2022 and start using them for a much better future.
          Enjoy!<br></small></font><br>
      <font color=#AD8F00><i><b>More technical information</b></i><br></font>
      <font color=#FFFFFF><small>For more information check our whitepaper or learn more about how to use the system in
          our manual.<br></small></font>
    </p>
  </div>
  <a href="https://1coinh.org/whitepaper" target="_blank"><button class="main_button" role="button"
      style="width: 200px;height: 3rem; margin-top: 0.5rem; font-size: 1.4rem"><span
        class="icon-file-text2"></span>&nbsp;Whitepaper</button></a>
  <a href="index.html"><button class="main_button" role="button"
      style="width: 127px;height: 3rem; margin-top: 0.5rem; margin-left: 0.5rem; font-size: 1.4rem"><span
        class="icon-exit"></span>&nbsp;Exit</button></a>
</div>
</header>
</body>

</html>