<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
    <body onload="OnStart()">
      {% if page.script %}
        <script src="js/{{page.script}}.js"></script>
      {% endif %}
        {% include nav.html %}
        <header>
            <div class="FixedHeightContainer">
                {% if page.subtitle %}
                <div class="header__title">
                  <label id="txt">
                    <h1>{{ page.subtitle }}</h1>
                  </label>
                  {% if page.icon %}
                  <label>
                    <h1><span class="{{page.icon}}"></h1>
                  </label>
                  {% endif%}
                </div>
                {% endif %}
                {{ content }}
            </div>
        </header>
    </body>
</html>